* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #90ddf0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#header,
#footer {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 75px;
  width: 100%;
  padding: 16px;
}

#header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-bar {
  display: flex;
  flex-direction: row;
}

.nav-link {
  margin-right: 16px;
}

a {
  text-decoration: none;
  color: #90ddf0;
  font-weight: bolder;
}

#home,
#about,
#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  width: 80%;
  margin: auto;
  text-align: center;
}

#about h2,
#about p,
#contact h2,
#contact p {
  margin-bottom: 10px;
}

#video {
  width: 100%;
  height: 100%;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-fields label,
.form-fields input {
  margin-bottom: 10px;
}

.form-fields label {
  font-weight: bolder;
}

.form-fields input {
  border: 1px solid #90ddf0;
  border-radius: 16px;
  width: 450px;
  height: 50px;
}

.form-fields input::placeholder {
  color: #000;
  padding: 16px;
  font-weight: 800;
  text-align: center;
}

#submit {
  width: 160px;
  height: 50px;
  border: 2px solid #3498db;
  background-color: #3498db;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

#submit:hover {
  background-color: #217dbb;
  border-color: #217dbb;
  color: #fff;
}

#success {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  bottom: 0;
  justify-content: center;
  height: 48px;
  width: 100%;
  padding: 0;
}
